<div id="user_header">
  <%= link_to "Sign Up", new_user_path %>
</div>

<h1>Posts</h1>

TWXTTR has <%= Post.public_count %> posts and counting!

<ul>
  <% @posts.each do |post| %>
    <% unless post.archived? %>
      <li>
        <%= link_to post.title, post %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Post", new_post_path %>