<h1>Posts</h1>

<table>
  <tr>
    <td>
TWXTTR has <%= Post.public_count %> posts and counting!
    </td>
  </tr>
  <tr>
    <td>
    </td>
  </tr>
  <tr>
    <td>
      <p>Дата поста</p>
    </td>
    <td>
      <p>Заголовок</p>
    </td>
    <td>
      <p>Превью</p>
    </td>
  </tr>

  <% @posts = Post.order(created_at: :desc) %>
  
  <% @posts.each do |post| %>
    <% unless post.archived? %>
    <tr>
      <td>
      <p><%= post.created_at %></p>
      </td>
      <td>
        <%= link_to post.title, post %>
      </td>
    </tr>
    <% end %>
  <% end %>
<tr>
    <td>
    </td>
  </tr>
</table>

<%= link_to "New Post", new_post_path %>